body {
    margin:0;padding:0;
    background-color: #fff;
    font-family: Verdana;
}
nav{
    background-color: #ccc;
}
#area,
input,
select,
small,
img,
.resp,
.login,
#sitemysql,
table.arquivos,
#menu {
    display: block;
    position: relative;
    margin: 0 auto;
}

#area {
    width: 950px;
    height: 480px;
}

fieldset {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 50px;
    width: 350px;
    padding: 20px;
    background-color: #fff;
}

.index {
    margin: 0 auto;
    min-height: 400px;
}

.formlogin {
    background-color: #ddd;;
    margin: 0 auto;
    height: 280px;
}

.f0 {
    margin: 0 auto;
    height: 240px;
}

.f1 {
    width: 500px;
    min-height: 300px;
    text-align: center;
}

.f2 {
    float: right;
    min-height: 400px;
}

legend {
    font-weight: bold;
    text-align: center;
}

input,
small,
select {
    top: -20px;
}
select{width: 162px;
height: 22px;}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.escrever {
    width: 250px;
}

small {
    font-size: 10px;
}
small.user{
    top:-80px;
    left: -48px;
    float: right;
}

small.file {
    left: 110px
}

.login {
    top: -40px;
    text-align: center;
    font-size: 10px;
}

.erro {
    color: #f00;
}

.botao {
    left: 0;
    top: 0px;
    width: 100px;
}

.resp {
    top: 10px;
    text-align: center;
}

.servidor {
    margin-top: -10px;
    margin-left: 120px;
    font-size: 13px;
}

.servidor input {
    margin: 0;
    padding: 0;
    left: -20px;
    top: 14px;
}

img {
    width: 200px;
}

.ok {
    font-weight: bolder;
    color: darkgreen
}

.ko {
    font-weight: bolder;
    color: red
}

ul {
    list-style: none;
}

li {
    text-align: left;
    margin-left: -35px
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

#sitemysql {    
    width: 650px;
}

h5 {
    position: relative;
    display: block;
    width: 260px;
    margin: 0 auto;
    text-align: center;
}

h5.cons {
    width: 300px;
    border: 1px solid #bbb;
    padding: 5px;
    text-align: left;
}

#form1,
#form2,
#form3 {
    display: block;
    position: relative;
    background-color: #ddd;
    box-shadow: 3px 3px 5px black;
}

#form1 {
    top: 5px;
    width: 275px;
    height: 320px;
    float: left;
}

#form2 {
    top: 5px;
    width: 275px;
    height: 320px;
    float: right;
}

#form3 {
    top: 10px;
    width: 600px;
    min-height: 200px;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    text-align: center;
}

.campo1,
.campo2 {
    display: block;
    position: relative;
    width: 250px;
    margin-bottom: 15px;
    margin: 0 auto;
}
h2{    
    background-color: #ccc;
    text-align: center;
}
table.arquivos, table.users,table.pessoas{
    width: 440px;
    margin: 0 auto;
    font-size: 12px;
    border-spacing: 0px;
    text-align: left;
}

table.arquivos .col1 {
    width: 350px;
}

table.arquivos td,
table.arquivos th,
table.users td,
table.users th,
table.pessoas td,
table.pessoas th{
    padding-left: 4px;
    border: 1px solid #404040;
}

table.arquivos th,table.users th, table.pessoas th {
    background-color: #ccc;
}

#user,
#pass {
    background-color: #fff;
    width: 170px;
}
#botao {
    display: block;
    position: relative;
    width: 120px;
    margin: 0 auto;
}
#menu {
    border:0;
    background-color: rgba(0,0,0,0);    
    top:0px;    
    width: 470px;
    height: 20px;
}
ul.menu {
    top:-19px;
    list-style: none;
    position: relative;
    display: block;
    margin-left: -20px;
}

ul.menu li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

ul.menu li a {
    text-align: center;
    display: block;
    width: 70px;
    background-color: #808080;
    color: white;
    padding: 5px;
    text-decoration: none;
}

@media (max-width: 720px) {
    body {
        font-size: 20px;
    }

}
